.alert__box {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    width: 100%;
    height: 100%;
    padding: 1rem;

    .message__box {
        background-color: $primary-color;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .alert__box__close {
        position: absolute;
        bottom: 20%;
        width: 50px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        border-radius: 50%;
        

        i {
        font-size: 1.5rem;
        }
    }
    
}