header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);

    .header__left {
        display: flex;
        gap: 1.5rem;

        i {
            cursor: pointer;
            font-size: 2rem;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;
            font-size: 1.5rem;

            span {
                font-weight: bold;
            }
        }
    }

    .header__icons {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            font-size: 1.7rem;

            &:nth-child(2) {
                font-size: 1.1rem;
            }
        }
    }
}