@font-face {
    font-family: 'MainFont';
    src: url('https://yasrcha.github.io/srchanism/assets/fonts/gg-sans-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url('https://yasrcha.github.io/srchanism/assets/fonts/gg-sans-bold.ttf');
    font-weight: bold;
}