@font-face {
    font-family: 'MainFont';
    src: url("/assets/fonts/gg-sans-regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url("/assets/fonts/gg-sans-bold.ttf");
    font-weight: bold;
}