@font-face {
    font-family: 'MainFont';
    src: url(../../assets/fonts/gg\ sans\ Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url(../../assets/fonts/gg\ sans\ Bold.ttf);
    font-weight: bold;
}