@font-face {
    font-family: 'MainFont';
    src: url('../../assets/fonts/ggsans-Normal.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url('../../assets/fonts/ggsans-Bold.woff') format('woff');
    font-weight: bold;
}